<div class="row record-item">
  <input class="col-md-1" type="checkbox">
  <span class="col-md-2">{{model.time}}</span>
  <div class="col-md-8 website-info">
    <div class="col-md-2 icon-website" [ngStyle]="{'background-image':'url('+model.icon+')' }"></div>
    <div class="website col-md-7">
      <a [href]="model.site" class="website-name">
        {{model.name}}
      </a>
      <div class="website-domain">
          {{model.domain}}
      </div>
    </div>
  </div>
  <div class="col-md-1 operate" (click)="operateRecord(model)">
    <i class="fa fa-ellipsis-v"></i>
  </div>
</div>