.list-layout{
    margin-top: 1.8rem;
    margin-left: 10%;
    margin-right: 20%;
    display: flex;
    align-items: normal;
    flex-direction: column;
}

.card-item{
    border-radius: 3px;
    background-color: white;
    margin-bottom: 1.8rem;
}

.card-title{
    border-bottom: 1px solid var(--separator-color);
}